.choose-company {
	display: flex;
	justify-content: center;
	.setting-field {
		margin-right: 48px;
		min-width: 290px;
		padding: 20px;
		padding-bottom: 0;
		border: 1px solid #DBE3F2;
		border-radius: 6px;
		background: #F4F7FF;
		.toggle-btn-group {
			.item-header {
				display: flex;
				justify-content: space-between;
				background-color: unset;
				h3 {
					font-size: 16px;
				}
			}
			.item-header:hover {
				cursor: pointer;
			}
		}
		.setting-item{
			width: 100%;
			margin-bottom: 20px;
			.toggle-btn-group.card-header {
				padding: 0;
				border-bottom: unset;
				background: unset;
			}

			.input-text {
				height: 40px;
				font-size: 14px;
			}
			border-bottom: solid 1px rgba(33, 63, 118, 0.2);
		}

	}
	.status-part {
		min-width: 704px;
		margin-bottom: 50px;
		.img-contain {
			height: 100px;
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				width: 90%;
			}
		}
		.price {
			color: #213F76;
			font-size: 14px;
			font-weight: bold;
		}
		.vice {
			text-decoration: underline;
			color: #213F76;
		}
		.vice:hover {
			cursor: pointer;
		}	
		.company-contain {
			justify-content: space-around;
		}
		table {
			margin-top: 10px;
			width: 100%;
			
			thead {
				justify-content: space-around;
				width: 100%;
				margin-right: 0;
				margin-left: 0;
				background: #213F76;
				border-radius: 6px 6px 0px 0px;
				td {
					padding-bottom: 15px;
					padding-top: 15px;
					color: white;
					font-size: 14px;
				}
			}
			td {
				display: flex;
				justify-content: center;
				align-items: center;
			}
			tbody {
				box-shadow: 0 0 0 1px #D0D6E2;
				border-bottom-left-radius: 6px;
				border-bottom-right-radius: 6px;
				tr {
					margin-right: 0;
    				margin-left: 0;
					td {
						font-size: 14px;
						color: #213F76;
						padding: 12px 6px;
						text-align: center;
						img {
							width: 15px;
						}
					}
				}
				tr {
					td:nth-of-type(2n) {
						background: #F6F7FA;
					}
				}
				tr.row {
					justify-content: space-around;
				}
			}
		}
	}
}
.modal-dialog.choose-company-modal {
	table {
		margin-bottom: 25px;
		td {
			padding: 16px;
			font-size: 14px;
			color: #213F76;
			border: solid 0.1px #d0d6e2;
			border-collapse: collapse;
			border-right: none;
			border-bottom: none;
			word-break: break-word;
		}
		tbody tr:first-child {
			text-align: center;
			td {
				border: none;
			}
			td:last-child {
				border-left: solid 1px #d0d6e2;
			}
			border-radius: 6px 6px 0 0;
			background-color: #F3F5F7;
			border: solid 1px #F3F5F7;
		}
		td.strong {
			font-weight: bold;
		}
		tr {
			td:not(:first-child) {
				text-align: center;
			}
		}
		tr td:last-child {
			border-right: solid 0.1px #d0d6e2;
		}
		tr:last-child td {
			border-bottom: solid 0.1px #d0d6e2;
		}
	}
}
.modal-dialog.choose-company-modal {
	max-width: 1040px;
	.modal-content {
		max-height: 729px;
		padding: 32px 40px;
		color: #213F76;
		overflow-y: scroll;
		.header {
			font-size: 24px;
			font-weight: bold;
			margin-bottom: 22px;
		}
		.paragraph-header {
			font-size: 18px;
			font-weight: bold;
			margin-bottom: 15px;
		}
		.content {
			font-size: 14px;
			margin-bottom: 18px;
			span {
				font-weight: bold;
			}
		}
	}
	::-webkit-scrollbar {display:none;} /* Safari */
	::-moz-scrollbars {display:none;}
	::-o-scrollbar {display:none;} /* opera */
	::-google-ms-scrollbar {display:none;}
	::-khtml-scrollbar {display:none;}
	scrollbar-width: none;
}
@media(max-width: 768px){
	.choose-company {
		display: block;
		.setting-field {
			margin-right: unset;
		}
		.status-part {
			min-width: unset;
			width: 100%;
			overflow: scroll;
			// .img-contain{
			// 	margin-top: 20px;
			// 	padding: 20px;
			// 	img {
			// 		width: 50%;
			// 		margin-bottom: 10px;
			// 	}
			// } 
			.company-contain {
				min-width: 650px;
				padding-left: 16px;
			}
			.table-contain {
				padding-left: 16px;
				table {
					min-width: 650px;
				}
			}
		}
	}
	.modal-dialog.choose-company-modal .modal-content {
		padding: 20px 15px;
	}
	.modal-dialog.choose-company-modal table {
		width: 90%;
		margin: auto;
		margin-bottom: 20px;
	}
}