.footer {
	background-color: $dark-blue;
	padding: 50px 0 28px 0;
	color: $white;
	&-header {
		display: flex;
		align-items: center;
		margin-bottom: 72px;
		h2 {
			font-family: $logo-font;
			font-weight: bold;
			font-size: 26px;
		}
		h3 {
			opacity: 0.6;
			font-size: 16px;
		}
		.line {
			border-left: 1px solid $white;
			height: 30px;
			opacity: 0.2;
			margin: 0 16px;
		}
	}

	&-navigation {
		display: flex;
		justify-content: space-between;
		margin-bottom: 72px;

		h3 {
			font-size: 16px;
			font-weight: bold;
			margin-bottom: 27px;
		}
		ul {
			list-style-type: none;

			li {
				margin-bottom: 16px;
			}
		}
		a {
			color: $white;
			text-decoration: none;
			font-weight: medium;
		}
	}
	&-socials {
		display: flex;
		justify-content: space-between;

		button {
			height: 32px;
			width: 32px;
			background-color: $blue;
			border-radius: 50%;
			border: none;

			&:not(:last-child) {
				margin-right: 8px;
			}
		}
	}
	&-btn {
		@include button;
	}
	&-contact {
		@include support;
		:not(:last-child) {
			margin-right: 24px;
		}
	}
	&-end {
		margin-top: 101px;
		opacity: 0.6;
		font-size: 12px;

		display: flex;
		justify-content: space-between;

		ul {
			display: flex;
			:first-child {
				list-style-type: none;
			}
			li {
				margin-left: 28px;
			}
			a {
				color: $white;
				text-decoration: none;
			}
		}
	}
}
