.general-page {
	color: #213F76;
	.contain {
		max-width: 1072px;
		margin: 25px auto;
		.header-title {
			font-size: 32px;
			font-weight: bold;
			margin-top: 30px;
		}
		.content {
			margin-top: 20px;
			font-size: 14px;
		}
		.paragraph-header {
			font-size: 24px;
			margin-top: 25px;
			font-weight: bold;
		}
		.item-header {
			font-size: 18px;
			margin-top: 22px;
			font-weight: bold;
		}
	}
	.title-download {
		font-family: $primary-font;
		font-size: 24px;
		letter-spacing: 0px;
		color: #213F76;
	}
	.download-item {
		font-family: $primary-font;
		font-size: 16px;
		letter-spacing: 0px;
		color: #30B6E8;
	}
}
.contract-doc-page {
	.form-group {
		margin: 25px auto;
	}
}

@media(max-width: 768px){
	.general-page {
		.contain {
			max-width: unset;
			margin: 0 auto 30px auto;
		}
	}
}
