@mixin support {
	display: flex;
	align-items: center;

	img {
		height: 129px;
		opacity: 0.65;
	}
	p {
		font-size: 14px;
	}
	h3 {
		margin: 10px 0;
		font-size: 32px;
		color: $blue;
		font-weight: 600;
	}
	.comment {
		opacity: 0.6;
	}
}

@mixin button {
	height: 41px;
	width: 174px;
	border-radius: 35px;
	border: none;
	background-color: $orange;
	font-size: 600;
	color: $white;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
