.payment-page {
	.detail-main {
		width: 1020px;
		.payment-type {
			min-width: 568px;
			margin-right: 40px;
			.title {
				font-size: 20px;
				color: #213F76;
				margin-bottom: 20px;
			}
			.payment-item {
				padding: 15px;
				border: 1px solid #D0D6E2;
				border-radius: 4px;
				.form-group {
					margin-bottom: 0;
				}
				label {
					margin-bottom: 0;
				}
			}
			.payment-item.selected {
				border: 1px solid #30B6E8;
			}
			.payment-item:first-of-type {
				margin-bottom: 20px;
			}
			.payment-item.credit {
				display: flex;
				justify-content: space-between;
			}
		}
		.summary-part {
			min-width: 416px;
		}
		h4.title {
			margin-bottom: 0;
		}
		.result {
			.description {
				text-align: center;
				font-size: 20px;
				color: #213F76;
				span {
					font-weight: bold;
				}
			}
			.summary-items {
				width: 480px;
				margin: 30px auto;
				.summary-item {
					display: flex;
					justify-content: space-between;
					div {
						font-size: 16px;
						color: #213F76;
					}
					.value {
						font-weight: bold;
					}
				}
			} 
			.qr-description {
				width: 260px;
				margin: auto;
				font-size: 20px;
				color: #213F76;
				position: relative;
			}
			.qr-description::before {
				content: '';
				position: absolute;
				width: 370px;
				height: 2px;
				background: #213F76;
				opacity: 0.2;
				top: 15px;
				right: -370px;
			}
			.qr-description::after {
				content: '';
				position: absolute;
				width: 370px;
				height: 2px;
				background: #213F76;
				opacity: 0.2;
				top: 15px;
				left: -378px;
			}
			.qr-image {
				width: 200px;
				margin: 30px auto;
			}
		}
	}
}
@media(max-width: 768px){
	.payment-page {
		.detail-main {
			width: unset;
		}
		.item-one-line {
			display: block;
		}
		.detail-main {
			.summary-part {
				min-width: unset;
			}
			.payment-type {
				margin-right: 0;
				min-width: unset;
			}
			h4.title {
				padding-left: 25px;
			}
			.result {
				padding: 0 15px;
				.summary-items {
					width: unset;
				}
				.qr-description::before {
					width: 40px;
					right: -50px;
				}
				.qr-description::after {
					width: 40px;
					left: -52px;
				}
			}
		}
	}
}
