.travel-detail {
	.title {
		font-size: 20px;
		color: #213F76;
	}
	.header-part {
		padding-top: 24px;
		padding-bottom: 24px;
		background-color: #F4F7FF;
	}
	.tab-part {
		display: flex;
		justify-content: center;
		background-color: #F4F7FF;
		.left-color-fill {
			position: relative;
			height: 100%;
			background-color: #213F76;
			margin-bottom: 30px;
		}
		.left-color-fill::before{
			position: absolute;
			content: '';
			left: -1000px;
			right: 0;	
			top: 0;
			height: 100%;
			background-color: #213F76;
		}
		.items {
			position: relative;
			display: flex;
			justify-content: center;
			.item-detail {
				position: relative;
				padding: 20px 30px 20px 30px;
				color: #7689AD;
				border: solid 1px #7689AD;
				border-right: none;
				border-left: none;
				height: 56px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.item-detail:hover {
				cursor: pointer;
				text-decoration: none;
			}
			.item-detail.checked {
				border: none;
				border-right: none;
				border-left: none;
			}
			.item-detail::before {
				content: '';
				position: absolute;
				right: -7px;
				top: 0px;
				border: 1px solid #7689AD;
				border-width: 0px 1px 0px 0px;
				width: 11px;
				height: 29px;
				line-height: 0;
				font-size: 0;
				-webkit-transform: rotate(225deg);
				-ms-transform: rotate(225deg);
				-o-transform: rotate(225deg);
				transform: rotate(335deg);
			}
			.item-detail::after {
				content: '';
				position: absolute;
				right: -7px;
				top: 22px;
				border: 1px solid #7689AD;
				border-width: 0 0 0 1px;
				width: 13px;
				height: 32px;
				line-height: 0;
				font-size: 0;
				-webkit-transform: rotate(225deg);
				-ms-transform: rotate(225deg);
				-o-transform: rotate(225deg);
				transform: rotate(205deg);
			}
			.item-detail.checked::after {
				position: absolute;
				content: '';
				width: 0;
				height: 0;
				right: -16px;
				top: 0;
				bottom: 0;
				border-style: solid;
				border-width: 28px 0 28px 16px;
				border-color: transparent transparent transparent #213F76;
				transform: none;
			}
			.item-detail.checked::before {
				border-width: 0;
			}
		 }
		.item-detail.checked {
			background-color: #213F76;
			padding: 20px;
			color: #FFFFFF;
		}
	}
	.detail-main {
		width: 416px;
		margin: auto;
		margin-top: 30px;
		.title {
			margin: 0 auto 20px auto;
			span {
				color: #30B6E8;
				font-size: 32px;
			}
			h3 {
				font-size: 32px;
				margin-bottom: 0;
			}
		}
	}
}
.tab-part-mobile {
	display: none;
}
@media(max-width: 768px){
	.travel-detail .detail-main {
		width: 100%;
		.button-orange {
			width: 100%;
		}
	}
	.travel-detail .tab-part {
		display: none;
	}
	.tab-part-mobile {
		display: block;
		.items {
			margin: auto;
			width: 100%;
			.item-detail {
				display: block;
				padding: 10px;
				text-align: center;
				border: solid 1px #7689AD;
				border-top: none;
			}
			.item-detail.checked{
				background-color: #213F76;
				border: none;
				color: #FFFFFF;
			}
		}
	}
}