@import 'variables';
@import 'mixins';
@import 'typography';

@import 'navbar';
@import 'footer';
@import 'progressbar';

@import 'landing';
@import 'success';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: $primary-font;
}

.container {
	width: 55%;
	min-width: 1040px;
	margin: 0 auto;
}
